<div>
    <h1>Token Login</h1>
    <form class="well" action="~/Home/TokenLogin" method="post">
        <h3>Token</h3>
        <input type="text" name="token" />
        <input type="submit" value="Verify" />
    </form>
</div>
