

<div>
    <form action="~/Home/DoLogin" method="post" class="well col-lg-8 col-lg-offset-2" style="margin-top:60px;">
        <label>Username</label>
        <input name="username" type="text" value="" class="form-control"/>
        <br />
        <label>Password</label>
        <input type="password" name="password" value="" class="form-control" />
        <br />
        <button name="" value="Login" class="btn" btn-primary>Login</button>
    </form>
    <div>@Html.Raw(ViewBag.Message)</div>

</div>